<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.mvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="mvvm"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.user.UserActivity" />
        <activity android:name=".ui.list.SlideConflictActivity" />
        <activity
            android:name=".ui.material.scroll.ScrollingActivity"
            android:label="Scrolling"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.material.drawer.DrawerActivity"
            android:label="Drawer"
            android:theme="@style/NoActionBar" />

        <service android:name=".service.BackgroundService" />
    </application>

</manifest>